{% extends 'base.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{% trans 'Hilfe' %}</h1>
        </div>
    </div>
</div>
{% endblock %}