.mce-content-body {
    font-size: inherit;
}
.btn-filter-margin {
    margin-top: 25px;
}
.span-right span {
    float: right;
}

.list-group-item-muted {
    background-color: #F7F7F7;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

.glyphicon-left {
    margin-right: 7px;
}

.modal-help-body {
    margin:0px;
    padding:0px 10px 0px 0px;
    max-height: 500px;
    overflow-y: auto;
}
.modal-help-body h4:first-child {
    margin-top: 0px;
}
.modal-help-body table thead tr {
    background-color: #F2F2F2;
}
.modal-help-body table tbody td:first-child {
    width: 20%;
    font-weight: bold;
}
.alert-adminview {
    background-color: #FAFAFA;
}